.community-chats {
  height: calc(100vh - 151px);
  overflow-y: auto;
}
.community-chats::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.community-chats::-webkit-scrollbar-thumb {
  background-color: var(--effect);
  border-radius: 20px;
}
.community-chats::-webkit-scrollbar-track {
  background-color: transparent;
}

.community-chats::-webkit-scrollbar-thumb {
  background-color: var(--effect);
}

@media (max-width: 768px) {
  .messages-container {
    display: none;
  }

  .chats-container{
    width: 100%;
    padding: 0;
  }
}
