.primary {
  color: var(--primary);
}

.icon {
  color: var(--primary);
}
.icon:hover {
  background-color: var(--primary);
  color: white;
}

@media (max-width: 1024px) {
  .modal {
    height: 400px;
  }
}
