.primary {
  color: var(--effect);
}
.icon {
  color: var(--primary);
}
.icon:hover {
  background-color: var(--primary);
  color: white;
}

.btn-auth {
  outline: none;
  background-color: var(--effect);
}
.image-container {
  background-color: var(--default-color);
  border-radius: 50%;
}
