.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.link:hover{
    background-color: var(--effect);
}

.link:hover > .name{
    color: white;
}

.link:hover > .icon{
    color: white;
    background-color: transparent;
}
.name{
    color: var(--primary);
}
@media (max-width: 1024px) {
    .sidebar {
      display: none;
    }
  }
  