.topbar {
  height: 60px;
  padding: 4px 20px;
  z-index: 10;
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--secondary-text);
}

.app-name > h1 {
  color: var(--primary);
}

.input-container {
  width: 40%;
}

.topbar input {
  outline: none;
  padding: 8px 20px 8px 30px;
  width: 100%;
  border: none;
  color: var(--primary);
  background-color: lightgray;
}

.dots {
  padding: 10px;
}
.dots:hover {
  background-color: var(--default-color);
}

@media (max-width: 1024px) {
  .input-container {
    display: none;
  }
}
