.sidebar{
    flex: 2;
    /* border-right: 1px solid var(--secondary-text); */
}

.link:hover{
    background-color: var(--effect);
}

.icon {
    color: var(--primary);
}

.link:hover > .name{
    color: white;
}

.link:hover > .icon{
    color: white;
}
.name{
    color: var(--primary);
}